@model Utitshala.ViewModels.LearningDesignEditor

@{
    ViewBag.Title = "Learning Design Editor";
}
<div class="container visible-lg visible-md">
    <div class="breakout">
        <div class="imageinlinediv" style="text-align: center;">
            <img height="200px" src="~/Content/Images/Backgrounds/FlagshipBackingGradient.jpg" />
        </div>
    </div>
</div>
<img class="umilogo" src="~/Content/Images/Umi/TeachingWeb.png" />
<a href="@Url.Action("Index", "Classroom")">
    <h1 class="visible-lg visible-md logotext">@Model.LearningDesign.Name</h1>
    <h4 class="visible-xs visible-sm logotextmobile">@Model.LearningDesign.Name</h4>
</a>
<div class="container register">
    <hr />
    <div id="app">
        <h2 v-bind:title="messager" style="text-align: center">
            Hover over me to do something cool!
        </h2>
        <h2 v-if="seen" style="text-align: center">
            I may disappear if provoked >:(
        </h2>
    </div>
    <br />
</div>
@section Scripts{
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/learningdesigneditor")
}