@section Scripts{
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/learningdesigneditor")
}
@model Utitshala.ViewModels.LearningDesignEditor
@using Newtonsoft.Json;
@using Newtonsoft.Json.Serialization;
@{
    // Serialises the data for use in Vue. With thanks to Milos Protic.
    var serializationSettings = new JsonSerializerSettings()
    {
        ContractResolver = new CamelCasePropertyNamesContractResolver(),
        StringEscapeHandling = StringEscapeHandling.EscapeHtml,
        ReferenceLoopHandling = ReferenceLoopHandling.Ignore,
    };   

    var data = 
        Html.Raw(
             HttpUtility.JavaScriptStringEncode(
                JsonConvert.SerializeObject(
                    Model.VueData, Formatting.None, serializationSettings
                ), 
             false)
        );
}
@{
    ViewBag.Title = "Learning Design Editor";
}
<div class="container visible-lg visible-md">
    <div class="breakout">
        <div class="imageinlinediv" style="text-align: center;">
            <img height="200px" src="~/Content/Images/Backgrounds/FlagshipBackingGradient.jpg" />
        </div>
    </div>
</div>
<img class="umilogo" src="~/Content/Images/Umi/TeachingWeb.png" />
<a href="@Url.Action("Index", "Classroom")">
    <h1 class="visible-lg visible-md logotext">@Model.LearningDesign.Name</h1>
    <h4 class="visible-xs visible-sm logotextmobile">@Model.LearningDesign.Name</h4>
</a>
<div class="container register">
    <hr />
    <div id="ldView">
        <div v-for="ele in objectItems">
            <p>{{ ele.name }}</p>
        </div>
    </div>
    <br />
</div>
<script type="module">
        const ldView = new Vue({
        el: '#ldView',
            data: {
                objectItems: JSON.parse('@data')["learningDesignCode"]
            }
        });
</script>